<section class="item" *ngFor="let movie of movies">
  <article>
    <div class="item__img">
       <img src="{{ movie.backdrop_path }}" alt="Photographie d'un canapé">
    </div>
    <div class="item__content">

      <div class="item__content__titlePrice">
        <h1 id="title">{{ movie.title }}</h1>
      </div>
      <p class="productDescription">{{ movie.vote_average }}</p>
      <div class="item__content__description">
        <p class="item__content__description__title">Description :</p>
        <p id="description"><p class="productDescription">{{ movie.description }}</p>
      </div>

    </div>
  </article>
</section>
