<section class="item">
  <article>
    <div class="item__img">
       <img src="http://image.tmdb.org/t/p/w500/{{ movies.poster_path }}" alt="Photographie d'un canapé">
    </div>
    <div class="item__content">

      <div class="item__content__titlePrice">
        <h1 id="title">{{ movies.title }}</h1>
      </div>
      <p class="productDescription">{{ movies.vote_average }}</p>
      <div class="item__content__description">
        <p class="item__content__description__title">Description :</p>
        <p id="description"><p class="productDescription">{{ movies.overview }}</p>
      </div>
      <button (click)="addLike()">{{ buttonText }}</button>
    </div>
  </article>
</section>
